<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{user.changepwd}">Update Password</title>
	<link th:href="@{/static/css/main.css}" href="../../../static/css/main.css" rel="stylesheet"/>
	<script th:src="@{/static/js/lib/jquery-1.10.2.min.js}" src="../../../static/js/lib/jquery-1.10.2.min.js"></script>
	<script th:src="@{/static/js/main.js}" src="../../../static/js/main.js"></script>
	<style type="text/css">
		.form-label {
			width: 140px;
		}
	</style>
</head>
<body>
<div id="global-container">
	<header th:substituteby="templates/header::header" class="header">
		<div class="f2inf-header-box-space"></div>
		<div class="header-floating-content">
			<div id="select-language-box">
				<label for="select-language"
					style="color: #333; font-weight: lighter; vertical-align: inherit;">Select language</label>
				<select id="select-language" style="width: 68px;">
					<option value="en">English</option>
					<option value="it">Italian</option>
				</select>
			</div>
			<div id="userInSession">
				<img title="User in session" src="../../../static/images/user-icon.png"/>
				<span id="userLoggedIn">Username</span>
			</div>
			<div id="logoutLink">
				<img id="logout" title="Logout" src="../../../static/images/logout-icon.png"/>
			</div>
		</div>
		<script th:inline="javascript">
			$("#logoutLink").click(function() {
				window.location = "../login/login.html";
			});
		</script>
	</header>
	<div id="container">
		<div th:substituteby="templates/navbar::navbar" class="navbar">
			<div id="nav-f2inf-box-space"></div>
			<ul id="nav">
				<li><a href="../homePage.html" class="nav-item-selected">Home</a></li>
				<li><a href="../user/users.html">User Management</a></li>
				<li><a href="../consultant/consultants.html">Consultants</a></li>
			</ul>
		</div>
		<div id="content">
			<h2 th:text="#{user.changepwd}">Update Password</h2>
			<div class="form-container">
				<form th:action="@{/user/updatePassword}" th:object="${changePasswordModel}" method="post" action="users.html">
					<input type="hidden" name="userId" th:field="*{userId}"/>
					<div class="form-row">
						<label for="currentPassword" th:text="#{user.currentpwd}" class="form-label label-required">Current Password</label>
						<input type="password" id="currentPassword" th:field="*{currentPassword}" autofocus=""/>
						<span th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}" class="field-error">Field is Mandatory</span>
					</div>
					<div class="form-row">
						<label for="newPassword" th:text="#{user.newpwd}" class="form-label label-required">New Password</label>
						<input type="password" id="newPassword" th:field="*{newPassword}"/>
						<span th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}" class="field-error">Field is Mandatory</span>
					</div>
					<div class="form-row">
						<label for="passwordConfirmed" th:text="#{user.confirmpwd}" class="form-label label-required">Confirm New Password</label>
						<input type="password" id="passwordConfirmed" th:field="*{passwordConfirmed}"/>
						<span th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}" class="field-error">Field is Mandatory</span>
					</div>
					<div class="form-row form-buttons">
						<input type="submit" id="changePasswordSubmit" th:value="#{user.updatepwd}" value="Update Password"/>
						<input type="button" id="goback" th:value="#{global.back}" value="Back"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
	$(function () {
		$("#goback").click(function () {
			window.location = /*[[@{/user/loadUsers}]]*/ "users.html";
		});
	});
</script>
</body>
</html>