<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="fragments/head::head (#{user.edituser})">
	<title>User Modification</title>
	<link href="../../../static/css/main.css" rel="stylesheet"/>
	<script src="../../../static/js/lib/jquery-1.10.2.min.js"></script>
	<script src="../../../static/js/main.js"></script>
	<script src="../../../static/js/validator.js"></script>
</head>
<body>
<div id="global-container">
	<header th:substituteby="fragments/header::header" class="header">
		<div class="f2inf-header-box-space"></div>
		<div class="header-floating-content">
			<div id="select-language-box">
				<label for="select-language"
					style="color: #333; font-weight: lighter; vertical-align: inherit;">Select language</label>
				<select id="select-language">
					<option value="en">English</option>
					<option value="it">Italian</option>
				</select>
			</div>
			<div id="userInSession">
				<img title="User in session" src="../../../static/images/user-icon.png"/>
				<span id="userLoggedIn">Username</span>
			</div>
			<div id="logoutLink">
				<img id="logout" title="Logout" src="../../../static/images/logout-icon.png"/>
			</div>
		</div>
		<script th:inline="javascript">
			$("#logoutLink").click(function() {
				window.location = "../login/login.html";
			});
		</script>
	</header>
	<div id="container">
		<div th:substituteby="fragments/navbar::navbar" class="navbar">
			<div id="nav-f2inf-box-space"></div>
			<ul id="nav">
				<li><a href="../homePage.html" class="nav-item-selected">Home</a></li>
				<li><a href="../user/users.html">User Management</a></li>
				<li><a href="../consultant/consultants.html">Consultant Management</a></li>
			</ul>
		</div>
		<div id="content">
			<h2 th:text="#{user.edituser}" class="header-underlined">User Modification</h2>
			<div class="form-container">
				<form id="editUserForm" th:action="@{/user/update}" th:object="${userModel}" method="post" action="users.html">
					<input type="hidden" id="userId" th:field="*{userId}"/>
					<div class="form-row">
						<label for="username" th:text="#{user.username}" class="form-label label-required">Username</label>
						<input type="text" id="username" th:field="*{username}" class="required" autofocus="" value="mario_r"/>
					</div>
					<div class="form-row">
						<label for="roleId" th:text="#{user.selectrole}" class="form-label label-required">Select Role</label>
						<select id="roleId" th:field="*{role.roleId}" class="required">
							<option value="-1" th:text="#{user.selectrole}">Select Role</option>
							<option th:each="role : ${roles}" th:value="${role.roleId}" th:text="${role.roleName}">Role in Wireframe</option>
						</select>
					</div>
					<hr/>
					<div class="form-row">
						<label for="firstName" class="form-label">First Name</label>
						<input type="text" id="firstName" th:field="*{firstName}" value="Mario"/>
					</div>
					<div class="form-row">
						<label for="lastName" class="form-label">Last Name</label>
						<input type="text" id="lastName" th:field="*{lastName}" value="Rossi"/>
					</div>
					<div class="form-row">
						<label for="email" class="form-label">E-mail</label>
						<input type="text" id="email" th:field="*{email}" value="mario.rossi@libero.it"/>
					</div>
					<div class="form-row form-buttons">
						<input type="submit" id="updateUser" th:value="#{user.updateuser}" value="Update User"/>
						<input type="button" id="goToUsers" th:value="#{global.back}" value="Back"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
	$(function () {
		$("#goToUsers").click(function () {
			window.location = /*[[@{/user}]]*/ "users.html";
		});
	});
</script>
</body>
</html>