<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{user.users}">Users</title>
	<link th:href="@{/static/css/main.css}" href="../../../static/css/main.css" rel="stylesheet"/>
	<script th:src="@{/static/js/lib/jquery-1.10.2.min.js}" src="../../../static/js/lib/jquery-1.10.2.min.js"></script>
	<script th:src="@{/static/js/main.js}" src="../../../static/js/main.js"></script>
</head>
<body>
<header th:substituteby="templates/header::header"></header>
<div id="container">
	<div th:substituteby="templates/navbar::navbar"></div>
	<div id="content">
		<h1 th:text="#{user.users}">Users</h1>
		<table id="user-list" class="bordered">
			<thead>
			<tr>
				<th th:text="#{user.username}">Username</th>
				<th th:text="#{user.password}">Password</th>
				<th></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="user : ${users}">
				<td th:text="${user.username}">Some username</td>
				<td th:text="${user.role.roleName}">Some Role</td>
				<td class="cell-text-align-center">
					<a th:href="@{/user/findUser/}+${user.userId}"
						 href="userForm.html" th:text="#{user.details}">
						Details
					</a>
				</td>
				<td class="cell-text-align-center">
					<a th:href="@{/user/changePassword/}+${user.userId}" href="userForm.html"
						 th:unless="${user.notRemovable}" th:text="#{user.changePassword}">
						Change Password
					</a>
				</td>
			</tr>
			</tbody>
		</table>
		<a th:href="@{/user/createNewUser}" href="userForm.html"
				th:text="#{user.newuser}">New User</a>
	</div>
</div>
<footer th:substituteby="templates/footer::footer"></footer>
</body>
</html>