<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{user.userdetails}">User Details</title>
	<link href="../../../static/css/main.css" th:href="@{/static/css/main.css}" rel="stylesheet"/>
	<script src="../../../static/js/lib/jquery-1.10.2.min.js" th:src="@{/static/js/lib/jquery-1.10.2.min.js}"></script>
	<script src="../../../static/js/main.js" th:src="@{/static/js/main.js}"></script>
</head>
<body>
<div id="global-container">
	<header th:substituteby="templates/header::header" class="header">
		<div class="f2inf-header-box-space"></div>
		<div class="header-floating-content">
			<div id="select-language-box">
				<label for="select-language"
					style="color: #333; font-weight: lighter; vertical-align: inherit;">Select language</label>
				<select id="select-language" style="width: 68px;">
					<option value="en">English</option>
					<option value="it">Italian</option>
				</select>
			</div>
			<div id="userInSession">
				<img title="User in session" src="../../../static/images/user-icon.png"/>
				<span id="userLoggedIn">Username</span>
			</div>
			<div id="logoutLink">
				<img id="logout" title="Logout" src="../../../static/images/logout-icon.png"/>
			</div>
		</div>
		<script th:inline="javascript">
			$("#logoutLink").click(function() {
				window.location = "../login/login.html";
			});
		</script>
	</header>
	<div id="container">
		<div th:substituteby="templates/navbar::navbar" class="navbar">
			<div id="nav-f2inf-box-space"></div>
			<ul id="nav">
				<li><a href="../homePage.html" class="nav-item-selected">Home</a></li>
				<li><a href="../user/users.html">User Management</a></li>
				<li><a href="../consultant/consultants.html">Consultants</a></li>
			</ul>
		</div>
		<div id="content">
			<form action="#" th:object="${userModel}">
				<h1 th:text="#{user.userdetails}">User Details</h1>
				<input type="hidden" th:field="*{userId}"/>
				<table>
					<tr>
						<td>
							<input type="text" th:field="*{username}" th:placeholder="#{user.username}"
										 placeholder="Username" readonly="readonly" autofocus=""/>
						</td>
					</tr>
					<tr>
						<td>
							<label th:text="#{user.selectrole}">Select Role:</label><br/>
							<input type="text" th:field="*{role.roleName}" readonly="readonly"/>
							<input type="hidden" th:field="*{role.roleId}"/>
						</td>
					</tr>
				</table>
				<input type="button" id="editUser" th:value="#{user.edituser}"
							 value="Edit User" th:disabled="${userModel.notRemovable}"/>
				<input type="button" id="deleteUser" th:value="#{user.deleteuser}"
							 value="Delete User" th:disabled="${userModel.notRemovable}"/>
				<input type="button" id="goToUsers" th:value="#{global.back}"
							 value="Back"/>
			</form>
		</div>
	</div>
</div>
<script th:inline="javascript">
	$(function () {
		$("#goToUsers").click(function () {
			window.location = /*[[@{/user/loadUsers}]]*/ "users.html";
		});

		$("#editUser").click(function () {
			window.location = /*[[@{/user/editUser/}+${userModel.userId}]]*/ "userEdit.html";
		});

		$("#deleteUser").click(function() {
			window.location = /*[[@{/user/deleteUser/}+${userModel.userId}]]*/ "users.html";
		});
	});
</script>
</body>
</html>