<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>User Edit</title>
	<link href="../../../static/css/main.css" th:href="@{/static/css/main.css}" rel="stylesheet"/>
	<script src="../../../static/js/lib/jquery-1.10.2.min.js" th:src="@{/static/js/lib/jquery-1.10.2.min.js}"></script>
	<script src="../../../static/js/main.js" th:src="@{/static/js/main.js}"></script>
</head>
<body>
<header th:substituteby="templates/header::header"></header>
<div id="container">
	<div th:substituteby="templates/navbar::navbar"></div>
	<div id="content">
		<form action="#" th:object="${userModel}" th:action="@{/user/updateUser}" method="post">
			<h1 th:text="#{user.edituser}">Edit User</h1>
			<input type="hidden" th:field="*{userId}"/>
			<table>
				<tr>
					<td>
						<input type="text" th:field="*{username}" th:placeholder="#{user.username}"
									 placeholder="Username" autofocus="" required=""/>
					</td>
				</tr>
				<tr>
					<td>
						<label for="roleId" th:text="#{user.selectrole}">Select Role:</label><br/>
						<select id="roleId" th:field="*{roleId}" required="">
							<option th:each="role : ${roles}" th:value="${role.roleId}" th:text="${role.roleName}">
								Role in Wireframe
							</option>
						</select>
					</td>
				</tr>
			</table>
			<input type="submit" id="updateUser" th:value="#{user.updateuser}" value="Update User"/>
			<input type="button" id="goToUsers" th:value="#{global.back}" value="Back"/>
		</form>
	</div>
</div>
<footer th:substituteby="templates/footer::footer"></footer>
<script th:inline="javascript">
	$(function () {
		$("#goToUsers").click(function () {
			window.location = /*[[@{/user/loadUsers}]]*/ "./users.html";
		});
	});
</script>
</body>
</html>