<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<link th:href="@{/static/css/bootstrap.css}" href="../../../../static/css/bootstrap.min.css" rel="stylesheet"/>
	<link th:href="@{/static/css/bootstrap.css}" href="../../../../static/css/bootstrap-theme.min.css" rel="stylesheet"/>
	<link th:href="@{/static/css/main.css}" href="../../../../static/css/main.css" rel="stylesheet"/>
	<script th:src="@{/static/js/lib/jquery-1.10.2.min.js}" src="../../../../static/js/lib/jquery-1.10.2.min.js"></script>
	<script th:src="@{/static/js/lib/bootstrap.min.js}" src="../../../../static/js/lib/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="educationForm (modalId, modalTitle)" class="modal fade" th:id="${modalId}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="educationFormModalLabel" th:text="${modalTitle}">Education</h4>
			</div>
			<div class="modal-body">
				<form id="educationForm" th:action="@{/consultant/save-education}" th:object="${educationModel}" action="#" method="post" role="form">
					<fieldset>
						<div class="error-block"></div>
						<input type="hidden" id="educationId" th:field="*{id}"/>
						<div class="form-group">
							<label for="school" class="control-label required" th:text="#{education.school}">School</label>
							<input type="text" id="school" th:field="*{school}" class="form-control" th:placeholder="#{education.school}" placeholder="School"/>
						</div>
						<div class="form-group">
							<label th:text="#{education.period}" class="required">Period</label>
							<div class="row">
								<div class="col-md-3">
									<label for="startYear" class="sr-only" th:text="#{education.startyear}">Start year</label>
									<input type="text" id="startYear" th:field="*{startYear}" class="form-control" th:placeholder="#{education.startyear}" placeholder="Start year"/>
								</div>
								<div class="col-md-1" style="padding: 0; width: 10px; margin-top: 3px;">
									<span class="text-muted">&mdash;</span>
								</div>
								<div class="col-md-3">
									<div id="endYearBlock">
										<label for="endYear" class="sr-only" th:text="#{education.endyear}">End year</label>
										<input type="text" id="endYear" th:field="*{endYear}" class="form-control" th:placeholder="#{education.endyear}" placeholder="End year"/>
									</div>
									<div id="currentEducationBlock" class="hidden">
										<div class="col-md-12" style="padding-right: 0">
											<p class="text-success" style="margin: 2px 0 0 0;" th:text="#{experience.present}">Present</p>
										</div>
									</div>
									<div class="col-md-12">
										<div class="checkbox">
											<label th:inline="text">
												<input id="isCurrent-education" type="checkbox" th:field="*{current}"/>
												[[#{education.current}]]
											</label>
										</div>
										<script th:inline="javascript">
											$('#isCurrent-education').click(function () {
												if ($(this).is(':checked')) {
													$('#endYearBlock').addClass('hidden');
													$('#currentEducationBlock').removeClass('hidden');
												} else {
													$('#currentEducationBlock').addClass('hidden');
													$('#endYearBlock').removeClass('hidden');
												}
											});
										</script>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="schoolDegree" class="control-label" th:text="#{education.schooldegree}">School degree</label>
							<input type="text" id="schoolDegree" th:field="*{schoolDegree}" class="form-control" th:placeholder="#{education.schooldegree}" placeholder="School degree"/>
						</div>
						<div class="form-group">
							<label for="schoolFieldOfStudy" class="control-label" th:text="#{education.fieldstudy}">Field of studies</label>
							<input type="text" id="schoolFieldOfStudy" th:field="*{schoolFieldOfStudy}" class="form-control" th:placeholder="#{education.fieldstudy}" placeholder="Field of studies"/>
						</div>
						<div class="form-group">
							<label for="schoolGrade" class="control-label" th:text="#{education.schoolgrade}">Grade</label>
							<input type="text" id="schoolGrade" th:field="*{schoolGrade}" class="form-control" th:placeholder="#{education.schoolgrade}" placeholder="Grade"/>
						</div>
						<div class="form-group">
							<label for="schoolActivities" class="control-label" th:text="#{education.schoolactivity}">Activities</label>
							<textarea id="schoolActivities" th:field="*{schoolActivities}" rows="3" class="form-control" th:placeholder="#{education.schoolactivity}" placeholder="Activities"></textarea>
						</div>
						<div class="form-group">
							<label for="educationDescription" class="control-label" th:text="#{education.description}">Description</label>
							<textarea id="educationDescription" th:field="*{description}" rows="5" class="form-control" th:placeholder="#{education.description}" placeholder="Description"></textarea>
						</div>
						<div>
							<label th:text="#{global.mandatory.asterik}" class="control-label red">*</label>&nbsp;<span class="text-muted small" th:text="#{global.mandatory.message}"></span>
						</div>
					</fieldset>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{global.close}">Close
						</button>
						<button type="submit" id="btnSubmitEducation" name="submitEvent" value="saveEducation" class="btn btn-success" th:text="#{global.save}">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>