<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<link th:href="@{/static/css/bootstrap.css}" href="../../../../static/css/bootstrap.min.css" rel="stylesheet"/>
	<link th:href="@{/static/css/bootstrap.css}" href="../../../../static/css/bootstrap-theme.min.css" rel="stylesheet"/>
	<link th:href="@{/static/css/main.css}" href="../../../../static/css/main.css" rel="stylesheet"/>
	<script th:src="@{/static/js/lib/jquery-1.10.2.min.js}" src="../../../../static/js/lib/jquery-1.10.2.min.js"></script>
	<script th:src="@{/static/js/lib/bootstrap.min.js}" src="../../../../static/js/lib/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="skillForm (modalId, modalTitle)" class="modal fade" th:id="${modalId}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="skillModalLabel" th:text="${modalTitle}">Skill</h4>
			</div>
			<div class="modal-body">
				<form id="skillForm" th:action="@{/consultant/save-skill}" action="#" method="post" role="form">
					<div class="form-group">
						<label for="skill-txt-area" class="control-label" th:text="#{skill.add.separated.commas.msg}">Add the skills separated by commas</label>
						<textarea id="skill-txt-area" name="skill" rows="3" class="form-control" th:placeholder="#{skill.add.example}" placeholder="Java, SQL, Ruby"></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{global.close}">Close</button>
						<button type="submit" id="btnSubmitSkills" name="submitEvent" value="saveLanguages" class="btn btn-success" th:text="#{global.save}">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script th:src="@{/static/js/skillForm.js}" src="../../../../static/js/skillForm.js"></script>
	<script th:inline="javascript">
		var skills = /*[[${#strings.listJoin(consultantModel.skills, ', ')}]]*/ '';
		$skillForm.processSkillForm(skills);
	</script>
</div>
</body>
</html>