<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<link href="../../../static/css/main.css" th:href="@{/static/css/main.css}" rel="stylesheet"/>
	<script src="../../../static/js/lib/jquery-1.10.2.min.js" th:src="@{/static/js/lib/jquery-1.10.2.min.js}"></script>
	<script src="../../../static/js/main.js" th:src="@{/static/js/main.js}"></script>
</head>
<body>
<header class="header" th:fragment="header" role="banner">
	<div class="f2inf-header-box-space"></div>
	<div class="header-floating-content">
		<div id="select-language-box">
			<label for="select-language" th:text="#{header.selectlanguage}"
					style="color: #333; font-weight: lighter; vertical-align: inherit;">Select language</label>
			<select id="select-language">
				<option value="en" th:text="#{header.english}">English</option>
				<option value="it" th:text="#{header.italian}">Italian</option>
			</select>
		</div>
		<div id="userInSession">
			<img th:title="#{header.userInSession}" th:src="@{/static/images/user-icon.png}"
					 title="User in session" src="../../../static/images/user-icon.png"/>
			<span id="userLoggedIn" th:text="${session.user.username}">Username</span>
		</div>
		<div id="logoutLink">
			<img id="logout" th:title="#{login.logout}" th:src="@{/static/images/logout-icon.png}"
					 title="Logout" src="../../../static/images/logout-icon.png"/>
		</div>
	</div>
	<script th:inline="javascript">
		$("#logoutLink").click(function() {
			window.location = /*[[@{/logout}]]*/ "../login/login.html";
		});
	</script>
</header>
</body>
</html>