<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{consultant.management}">Consultant Management</title>
	<link th:href="@{/static/css/main.css}" href="../../../static/css/main.css" rel="stylesheet"/>
	<script th:src="@{/static/js/lib/jquery-1.10.2.min.js}" src="../../../static/js/lib/jquery-1.10.2.min.js"></script>
	<script th:src="@{/static/js/main.js}" src="../../../static/js/main.js"></script>
</head>
<body>
<div id="global-container">
	<header th:substituteby="templates/header::header" class="header">
		<div class="f2inf-header-box-space"></div>
		<div class="header-floating-content">
			<div id="select-language-box">
				<label for="select-language"
					style="color: #333; font-weight: lighter; vertical-align: inherit;">Select language</label>
				<select id="select-language" style="width: 68px;">
					<option value="en">English</option>
					<option value="it">Italian</option>
				</select>
			</div>
			<div id="userInSession">
				<img title="User in session" src="../../../static/images/user-icon.png"/>
				<span id="userLoggedIn">Username</span>
			</div>
			<div id="logoutLink">
				<img id="logout" title="Logout" src="../../../static/images/logout-icon.png"/>
			</div>
		</div>
		<script th:inline="javascript">
			$("#logoutLink").click(function() {
				window.location = "../login/login.html";
			});
		</script>
	</header>
	<div id="container">
		<div th:substituteby="templates/navbar::navbar" class="navbar">
			<div id="nav-f2inf-box-space"></div>
			<ul id="nav">
				<li><a href="../homePage.html" class="nav-item-selected">Home</a></li>
				<li><a href="../user/users.html">User Management</a></li>
				<li><a href="../consultant/consultants.html">Consultant Management</a></li>
			</ul>
		</div>
		<div id="content">
			<h2 th:text="#{consultant.consultants}" class="header-underlined">Consultants</h2>
			<div class="hor-navmenu-block">
				<ul class="hor-navmenu">
					<li>
						<a th:href="@{/consultant/create}" th:text="#{user.newuser}"
							 href="masterDataRegistration.html">Register new Consultant</a>
					</li>
				</ul>
			</div>
			<div th:each="cons : ${consultants}" th:id="${#ids.seq('consultant-')}" class="data-list-container">
				<header>
					<h3 th:text="|${cons.lastName}&nbsp;${cons.firstName}&nbsp;(${cons.age}&nbsp;#{global.yearsold})|">
						Rossi Mario (30 years old)
					</h3>
				</header>
				<div class="data-list-container-mindetails">
					<div class="float-left">
						<span th:text="|#{consultant.consultantno}: ${cons.consultantNo}|">
							Consultant No. 201311529-C5A707AD0713
						</span>
						<span>&nbsp;|&nbsp;</span>
						<span th:text="|#{consultant.registrationdate}: ${{cons.registrationDate}}|">
							Registration date: 01-01-2013
						</span>
					</div>
					<div class="float-right data-list-container-mindetails-links">
						<a class="link-ico details-ico"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>