<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="fragments/head::head (#{experience.edit})">
	<title>Edit Experience</title>
	<link href="../../../static/css/main.css" rel="stylesheet"/>
	<script src="../../../static/js/lib/jquery-1.10.2.min.js"></script>
	<script src="../../../static/js/main.js"></script>
	<script src="../../../static/js/validator.js"></script>
</head>
<body>
<style type="text/css">
	.exp-period > input {width: 50px !important;}
	.exp-period > select {width: 75px !important;}
</style>
<div id="global-container">
	<header th:substituteby="fragments/header::header" class="header">
		<div class="f2inf-header-box-space"></div>
		<div class="header-floating-content">
			<div id="select-language-box">
				<label for="select-language"
							 style="color: #333; font-weight: lighter; vertical-align: inherit;">Select language</label>
				<select id="select-language">
					<option value="en">English</option>
					<option value="it">Italian</option>
				</select>
			</div>
			<div id="userInSession">
				<img title="User in session" src="../../../static/images/user-icon.png"/>
				<span id="userLoggedIn">Username</span>
			</div>
			<div id="logoutLink">
				<img id="logout" title="Logout" src="../../../static/images/logout-icon.png"/>
			</div>
		</div>
		<script th:inline="javascript">
			$("#logoutLink").click(function() {
				window.location = "../login/login.html";
			});
		</script>
	</header>
	<div id="container">
		<div th:substituteby="fragments/navbar::navbar" class="navbar">
			<div id="nav-f2inf-box-space"></div>
			<ul id="nav">
				<li><a href="../homePage.html" class="nav-item-selected">Home</a></li>
				<li><a href="../user/users.html">User Management</a></li>
				<li><a href="../consultant/consultants.html">Consultant Management</a></li>
			</ul>
		</div>
		<div id="content">
			<h2 th:text="#{experiences.title}" class="header-underlined">Experiences</h2>
			<div class="form-container">
				<form id="experienceForm" th:action="@{/consultant/profile/experiences/save}" th:object="${experienceModel}"
							method="post" action="profileDataRegistration.html">
					<input type="hidden" id="consultantId" th:value="${session.consultantId}"/>
					<div class="form-row">
						<label for="companyName" th:text="#{experience.companyname}" class="form-label label-required">Company name</label>
						<input type="text" id="companyName" th:field="*{companyName}" class="required" autofocus=""/>
					</div>
					<div class="form-row">
						<label for="function" th:text="#{experience.function}" class="form-label label-required">Function</label>
						<input type="text" id="function" th:field="*{function}" class="required"/>
					</div>
					<div class="form-row">
						<label for="location" th:text="#{experience.location}" class="form-label">Location</label>
						<input type="text" id="location" th:field="*{location}"/>
					</div>
					<div class="form-row">
						<label for="monthPeriodFrom" th:text="#{experience.period}" class="form-label label-required">Period</label>
						<!-- CSS class 'exp-period' is defined at the top -->
						<div class="exp-period">
							<select id="monthPeriodFrom" name="monthPeriodFrom" class="required">
								<option value="-1">Select</option>
								<option th:each="month : ${months}" th:value="${month.monthNumber}" th:text="${month.monthLabel}">Month</option>
							</select>
							<input type="text" id="yearPeriodFrom" name="yearPeriodFrom" class="required" maxlength="4"/>
							<span>&nbsp;-&nbsp;</span>
							<span id="experienceToday" th:text="#{experience.present}" class="invisible">Present</span>
							<select id="monthPeriodTo" name="monthPeriodTo">
								<option value="-1">Select</option>
								<option th:each="month : ${months}" th:value="${month.monthNumber}" th:text="${month.monthLabel}">Month</option>
							</select>
							<input type="text" id="yearPeriodTo" name="yearPeriodTo" maxlength="4"/>
						</div>
						<script type="text/javascript">
							$("#monthPeriodFrom, #yearPeriodFrom, #monthPeriodTo, #yearPeriodTo").blur(function() {
								if ($(this).next().hasClass("field-error")) {
									$(this).next().remove();
								}
							});
						</script>
					</div>
					<div class="form-row">
						<label class="form-label"></label>
						<div class="label-checkbox">
							<input type="checkbox" id="thisIsCurrentJob" th:field="*{current}"/>
							<label for="thisIsCurrentJob" th:text="#{experience.current}">Currently I'm working here</label>
							<script type="text/javascript">
								$("#thisIsCurrentJob").click(function() {
									if ($(this).is(":checked")) {
										$("#monthPeriodTo, #yearPeriodTo").hide();
										$("#experienceToday").show().css({"margin-right" : 5});
									} else {
										$("#experienceToday").hide();
										$("#monthPeriodTo, #yearPeriodTo").show();
									}
								});
							</script>
						</div>
					</div>
					<div class="form-row">
						<label for="experienceDescription" th:text="#{experience.description}" class="form-label">Description</label>
						<textarea id="experienceDescription" th:field="*{description}" th:placeholder="#{experience.description}"
											rows="6" cols="60" placeholder="Description"></textarea>
					</div>
					<div class="form-row">
						<input type="submit" id="saveExperience" th:value="#{global.save}" value="Save"/>
						<input type="button" id="cancelAddingExperience" th:value="#{global.cancel}" value="Cancel"/>
						<script th:inline="javascript">
							$("#cancelAddingExperience").click(function() {
								window.location = /*[[@{/consultant/profile/}+${session.consultantId}]]*/ "profileDataRegistration.html";
							});
						</script>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>