<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="fragments/head::head (#{experiences.title})">
	<title>Experiences</title>
	<link href="../../../static/css/main.css" rel="stylesheet"/>
	<script src="../../../static/js/lib/jquery-1.10.2.min.js"></script>
	<script src="../../../static/js/main.js"></script>
	<script src="../../../static/js/validator.js"></script>
</head>
<body>
<div id="global-container">
	<header th:substituteby="fragments/header::header" class="header">
		<div class="f2inf-header-box-space"></div>
		<div class="header-floating-content">
			<div id="select-language-box">
				<label for="select-language"
							 style="color: #333; font-weight: lighter; vertical-align: inherit;">Select language</label>
				<select id="select-language">
					<option value="en">English</option>
					<option value="it">Italian</option>
				</select>
			</div>
			<div id="userInSession">
				<img title="User in session" src="../../../static/images/user-icon.png"/>
				<span id="userLoggedIn">Username</span>
			</div>
			<div id="logoutLink">
				<img id="logout" title="Logout" src="../../../static/images/logout-icon.png"/>
			</div>
		</div>
		<script th:inline="javascript">
			$("#logoutLink").click(function() {
				window.location = "../login/login.html";
			});
		</script>
	</header>
	<div id="container">
		<div th:substituteby="fragments/navbar::navbar" class="navbar">
			<div id="nav-f2inf-box-space"></div>
			<ul id="nav">
				<li><a href="../homePage.html" class="nav-item-selected">Home</a></li>
				<li><a href="../user/users.html">User Management</a></li>
				<li><a href="../consultant/consultants.html">Consultant Management</a></li>
			</ul>
		</div>
		<div id="content">
			<h2 th:text="#{experiences.title}" class="header-underlined">Experiences</h2>
			<div id="experienceSection" class="data-section">
				<a id="experiencesToProfile" th:href="@{/consultant/profile/}+${session.consultantId}" th:title="#{global.back}"
					 href="profileDataRegistration.html" class="link-ico back-ico" title="Back"></a>
				<div id="experiences" class="detail-list-view">
					<div th:if="${#lists.isEmpty(experienceList)}" class="detail-list-view-item empty-details-view">
						<span th:text="#{experiences.empty}">No Experiences</span>
					</div>
					<div th:each="exp : ${experienceList}" th:id="${#ids.seq('experience')}" class="detail-list-view-item">
						<input type="hidden" th:id="${#ids.seq('consultantId-')}" th:value="${session.consultantId}"/>
						<input type="hidden" th:id="${#ids.seq('experienceId-')}" th:value="${exp.id}"/>
						<header>
							<div class="mini-box-with-see-all">
								<h3 th:text="${exp.function}">Software Architect</h3>
								<a th:href="@{'/consultant/profile/experiences/edit/'+${session.consultantId}+'/'+${exp.id}}"
									 class="link-ico edit-ico" href="profileForm.html?edit=true" title="Edit"></a>
							</div>
							<span id="companyNameSpan" th:text="${exp.companyName}">Microsoft</span>
						</header>
						<div class="detail-list-view-item-span">
							<span th:text="${exp.periodFromStr}">march 2012</span>
							<span>&#8722;</span>
							<span th:text="(${exp.current} ? #{experience.present} : ${exp.periodToStr})">october 2013</span>
							<span>(1 year 8 months)</span>
							<span>| Milan</span>
						</div>
						<p class="description-text-box" th:text="${exp.description}">
							Web/Enterprise Application development as Sales Solution and Order management.
							I had to develop particularly back-end components and domain model using Hibernate,
							JPA and some Spring modules as support. I've also participated in the Business layer
							development and Front-end layer building.
							Besides, has been adopted SCRUM approach as Agile methodology and Continuous
							Integration in order to release a stable version per sprint.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>