<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{consultant.management}">Consultant Management</title>
	<link th:href="@{/static/css/main.css}" href="../../../static/css/main.css" rel="stylesheet"/>
	<script th:src="@{/static/js/lib/jquery-1.10.2.min.js}" src="../../../static/js/lib/jquery-1.10.2.min.js"></script>
	<script th:src="@{/static/js/main.js}" src="../../../static/js/main.js"></script>
</head>
<body>
<div id="global-container">
	<header th:substituteby="templates/header::header" class="header">
		<div class="f2inf-header-box-space"></div>
		<div class="header-floating-content">
			<div id="select-language-box">
				<label for="select-language"
					style="color: #333; font-weight: lighter; vertical-align: inherit;">Select language</label>
				<select id="select-language" style="width: 68px;">
					<option value="en">English</option>
					<option value="it">Italian</option>
				</select>
			</div>
			<div id="userInSession">
				<img title="User in session" src="../../../static/images/user-icon.png"/>
				<span id="userLoggedIn">Username</span>
			</div>
			<div id="logoutLink">
				<img id="logout" title="Logout" src="../../../static/images/logout-icon.png"/>
			</div>
		</div>
		<script th:inline="javascript">
			$("#logoutLink").click(function() {
				window.location = "../login/login.html";
			});
		</script>
	</header>
	<div id="container">
		<div th:substituteby="templates/navbar::navbar" class="navbar">
			<div id="nav-f2inf-box-space"></div>
			<ul id="nav">
				<li><a href="../homePage.html" class="nav-item-selected">Home</a></li>
				<li><a href="../user/users.html">User Management</a></li>
				<li><a href="../consultant/consultants.html">Consultant Management</a></li>
			</ul>
		</div>
		<div id="content">
			<h2 th:text="#{consultant.registration}">Consultant Registration</h2>
			<div class="form-container">
				<form th:action="@{/consultant/registerMasterData}" th:object="${consultantModel}"
							method="post" action="profileDataRegistration.html">
					<div class="form-row">
						<label for="consultantNo" th:text="#{consultant.consultantno}" class="form-label label-required">Consultant No.</label>
						<input type="text" id="consultantNo" th:field="*{consultantNo}" readonly="readonly"/>
					</div>
					<div class="form-row">
						<label for="registrationDate" th:text="#{consultant.registrationdate}" class="form-label label-required">Registration Date</label>
						<input type="text" id="registrationDate" th:field="*{registrationDate}" readonly="readonly"/>
					</div>
					<hr/>
					<div class="form-row">
						<label for="firstName" th:text="#{consultant.firstname}" class="form-label label-required">First name</label>
						<input type="text" id="firstName" th:field="*{firstName}" autofocus="" maxlength="40"/>
						<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="field-error">Field Mandatory</span>
					</div>
					<div class="form-row">
						<label for="lastName" th:text="#{consultant.lastname}" class="form-label label-required">Last name</label>
						<input type="text" id="lastName" th:field="*{lastName}" maxlength="40"/>
						<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="field-error">Field Mandatory</span>
					</div>
					<div class="form-row">
						<label for="gender" th:text="#{consultant.gender}" class="form-label label-required">Gender</label>
						<select id="gender" th:field="*{gender}">
							<option value="MALE">Male</option>
							<option value="FEMALE">Female</option>
						</select>
						<span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="field-error">Field Mandatory</span>
					</div>
					<div class="form-row">
						<label for="email" th:text="#{consultant.email}" class="form-label label-required">Email</label>
						<input type="email" id="email" th:field="*{email}" placeholder="username@domain.com" maxlength="40"/>
						<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="field-error">Field Mandatory</span>
					</div>
					<div class="form-row">
						<label for="fiscalCode" th:text="#{consultant.fiscalcode}" class="form-label label-required">Fiscal code</label>
						<input type="text" id="fiscalCode" th:field="*{fiscalCode}" th:placeholder="#{consultant.fiscalcode.placeholder}" placeholder="16 characters" maxlength="16"/>
						<span th:if="${#fields.hasErrors('fiscalCode')}" th:errors="*{fiscalCode}" class="field-error">Field Mandatory</span>
					</div>
					<div class="form-row">
						<label for="birthDate" th:text="#{consultant.birth.date}" class="form-label">Birth date</label>
						<input type="text" id="birthDate" th:field="*{birthDate}" th:placeholder="#{global.dateformat}" placeholder="day-month-year. Ex: 05-09-1979" maxlength="10"/>
						<span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="field-error">Date format is wrong</span>
					</div>
					<div class="form-row">
						<label for="birthCity" th:text="#{consultant.birth.city}" class="form-label">Birth city</label>
						<input type="text" id="birthCity" th:field="*{birthCity}" maxlength="40"/>
					</div>
					<div class="form-row">
						<label for="birthCountry" th:text="#{consultant.birth.country}" class="form-label">Birth country</label>
						<input type="text" id="birthCountry" th:field="*{birthCountry}" maxlength="40"/>
					</div>
					<div class="form-row">
						<label for="phoneNumber" th:text="#{consultant.phone.number}" class="form-label">Phone number</label>
						<input type="text" id="phoneNumber" th:field="*{phoneNumber}" maxlength="20"/>
					</div>
					<div class="form-row">
						<label for="mobileNumber" th:text="#{consultant.mobile.number}" class="form-label">Mobile number</label>
						<input type="text" id="mobileNumber" th:field="*{mobileNumber}" maxlength="20"/>
					</div>
					<div class="form-row form-buttons">
						<input type="submit" id="saveAndContinueProfile" th:value="#{consultant.saveandcontinue}" value="Save and continue..."/>
						<input type="button" id="redirectToConsultant" th:value="#{global.back}" value="Back"/>
						<script th:inline="javascript">
							$(function () {
								$("#redirectToConsultant").click(function () {
									window.location = /*[[@{/consultant}]]*/ "consultants.html";
								});
							});
						</script>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>