<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="fragments/head::head (#{profile.profile})">
	<title>Profile</title>
	<link href="../../../static/css/main.css" rel="stylesheet"/>
	<script src="../../../static/js/lib/jquery-1.10.2.min.js"></script>
	<script src="../../../static/js/main.js"></script>
	<script src="../../../static/js/validator.js"></script>
</head>
<body>
<div id="global-container">
	<header th:substituteby="fragments/header::header" class="header">
		<div class="header-floating-content">
			<div id="select-language-box">
				<label for="select-language"
					style="color: #333; font-weight: lighter; vertical-align: inherit;">Select language</label>
				<select id="select-language">
					<option value="en">English</option>
					<option value="it">Italian</option>
				</select>
			</div>
			<div id="userInSession">
				<img title="User in session" src="../../../static/images/user-icon.png"/>
				<span id="userLoggedIn">Username</span>
			</div>
			<div id="logoutLink">
				<img id="logout" title="Logout" src="../../../static/images/logout-icon.png"/>
			</div>
		</div>
		<script th:inline="javascript">
			$("#logoutLink").click(function() {
				window.location = "../login/login.html";
			});
		</script>
	</header>
	<div id="container">
		<div th:substituteby="fragments/navbar::navbar" class="navbar">
			<div id="nav-f2inf-box-space"></div>
			<ul id="nav">
				<li><a href="../homePage.html" class="nav-item-selected">Home</a></li>
				<li><a href="../user/users.html">User Management</a></li>
				<li><a href="../consultant/consultants.html">Consultant Management</a></li>
			</ul>
		</div>
		<div id="content">
			<h2 class="header-underlined">Profile</h2>
			<input type="hidden" id="consultantId" th:value="${session.consultantId}"/>
			<div class="data-list-container">
				<header>
					<h3 id="consultantFullName" th:text="|${consultantFullName}&nbsp;(${consultantAge}&nbsp;#{global.yearsold})|">
						Rossi Mario (30 years old)
					</h3>
				</header>
				<div class="data-list-container-mindetails">
					<div class="float-left">
						<span th:text="|#{consultant.consultantno}: ${consultantNo}|">
							Consultant No. 201311529-C5A707AD0713
						</span>
						<span>&nbsp;|&nbsp;</span>
						<span th:text="|#{consultant.registrationdate}: ${{registrationDate}}|">
							Registration date: 01-01-2013
						</span>
					</div>
				</div>
			</div>
			<div id="profile-section">
				<input type="hidden" id="consIdProfileRegPage" th:value="${session.consultantId}"/>

				<!-- Experiences -->
				<div class="mini-experience-box">
					<div class="mini-box-with-see-all">
						<h2 th:text="#{experience.title}">Experiences</h2>
						<a id="see-all-link" th:href="@{/consultant/profile/experiences/}+${session.consultantId}"
							 th:text="#{global.seeall}" href="experiencesPage.html">See all</a>
					</div>
					<div id="experiences" class="detail-list-view">
						<div th:if="${#lists.isEmpty(experienceList)}" class="detail-list-view-item empty-details-view">
							<span th:text="#{global.emptylist}">No Results</span>
						</div>
						<div th:each="exp : ${experienceList}" th:id="${#ids.seq('experience')}" class="detail-list-view-item">
							<header>
								<h3 th:text="${exp.function}">Software Architect</h3>
								<span th:text="${exp.companyName}">Microsoft</span>
							</header>
							<div class="detail-list-view-item-span">
								<span th:text="${exp.periodFromStr}">march 2012</span>
								<span>&#8722;</span>
								<span th:text="(${exp.current} ? #{experience.present} : ${exp.periodToStr})">october 2013</span>
								<span>(1 year 8 months)</span>
								<span>| Milan</span>
							</div>
							<p class="description-text-box" th:text="${exp.description}">
								Web/Enterprise Application development as Sales Solution and Order managemen...
							</p>
						</div>
					</div>
					<br/>
					<input type="button" id="addNewExperience" th:value="#{experience.add}" value="Add new job position"/>
					<script th:inline="javascript">
						$("#addNewExperience").click(function() {
							window.location = /*[[@{/consultant/profile/experiences/new}]]*/ "experienceForm.html";
						});
					</script>
				</div>

				<!-- Languages -->
				<div class="mini-language-box">
					<div class="mini-box-with-see-all">
						<h2 th:text="#{language.title}">Languages</h2>
						<a id="addNewLanguage" class="link-ico add-ico cursor-pointer" th:title="#{global.add}" title="Add"></a>
						<script th:inline="javascript">
							/*<![CDATA[*/
							$("#addNewLanguage").click(function() {
								$(this).removeClass("link-ico").removeClass("add-ico").addClass("invisible");
								$("#languages").addClass("invisible");
								$("#newLanguageForm").removeClass("invisible");
								/*[+ var languageList = [[${languageList}]] +]*/
								/*[- */
									var languageList = [
										{"language":"Spanish", "proficiency":"ELEMENTARY"},
										{"language":"Italian", "proficiency":"FULL_PROFESSIONAL"},
										{"language":"English", "proficiency":"NATIVE_OR_BILINGUAL"}
									];
								/* -]*/
								for (var i=0; i<languageList.length; i++) {
									var language = buildLanguageTextBox(languageList[i].language);
									/*[- */ var knowledge = buildKnowledgeSelectBox(languageList[i].proficiency); /* -]*/
									/*[+ var knowledge = buildKnowledgeSelectBox(languageList[i].knowledge); +]*/
									var removeLanguage = '<span class="x-remove" onclick="removeLang(this);">&#735;</span>';
									$("#languagesAdded").append('<div class="form-row">' + language + knowledge + removeLanguage + '</div>');
								}
								buildEmptyLanguage();
							});

							function addLang() {
								var newLang = buildLanguageTextBox($("#addLanguage").parent().find("input").val());
								var newKnowledge = buildKnowledgeSelectBox($("#addLanguage").parent().find("select").val());
								var removeLanguage = '<span class="x-remove" onclick="removeLang(this);">&#735;</span>';
								$("#addLanguage").parent().remove();
								$("#languagesAdded").append('<div class="form-row">' + newLang + newKnowledge + removeLanguage + '</div>');
								buildEmptyLanguage();
							}

							function removeLang(removeSpan) {
								$(removeSpan).parent().remove();
							}

							function buildLanguageTextBox(language) {
								return '<label for="language">Language</label>' +
										'<input type="text" name="language" value="' + language + '"/>';
							}

							function buildKnowledgeSelectBox(proficiency) {
								var elementarySelected = (proficiency == 'ELEMENTARY') ? ' selected="selected"' : '';
								var limitedWorkingSelected = (proficiency == 'LIMITED_WORKING') ? ' selected="selected"' : '';
								var professionalWorkingSelected = (proficiency == 'PROFESSIONAL_WORKING') ? ' selected="selected"' : '';
								var fullProfessionalSelected = (proficiency == 'FULL_PROFESSIONAL') ? ' selected="selected"' : '';
								var nativeSelected = (proficiency == 'NATIVE_OR_BILINGUAL') ? ' selected="selected"' : '';
								return '<label>Knowledge</label>' +
										'<select name="proficiency">' +
										'<option value="ELEMENTARY"' + elementarySelected + '>Elementary</option>' +
										'<option value="LIMITED_WORKING"' + limitedWorkingSelected + '>Limited working</option>' +
										'<option value="PROFESSIONAL_WORKING"' + professionalWorkingSelected + '>Professional working</option>' +
										'<option value="FULL_PROFESSIONAL"' + fullProfessionalSelected + '>Full professional</option>' +
										'<option value="NATIVE_OR_BILINGUAL"' + nativeSelected + '>Native</option>' +
										'</select>';
							}

							function buildEmptyLanguage() {
								var emptyLang = '<label for="language">Language</label><input type="text" name="language">';
								var emptyKnowledge = '<label>Knowledge</label>' +
										'<select name="proficiency">' +
										'<option value="ELEMENTARY">Elementary</option>' +
										'<option value="LIMITED_WORKING">Limited working</option>' +
										'<option value="PROFESSIONAL_WORKING">Professional working</option>' +
										'<option value="FULL_PROFESSIONAL">Full professional</option>' +
										'<option value="NATIVE_OR_BILINGUAL">Native</option>' +
										'</select>';
								$("#languagesAdded").append('<div class="form-row">' + emptyLang + emptyKnowledge +
										'<input type="button" id="addLanguage" onclick="addLang();" value="Add"/></div>');
							}
							/*]]>*/
						</script>
					</div>
					<div id="languages" class="detail-list-view">
						<div th:if="${#lists.isEmpty(languageList)}" class="detail-list-view-item empty-details-view">
							<span th:text="#{global.emptylist}">No Results</span>
						</div>
						<ul class="list-ul-details">
							<li th:each="lang : ${languageList}">
								<h3 th:text="${lang.language}">English</h3>
								<div class="detail-list-view-item-span">
									<span th:text="${lang.proficiency}">Elementary</span>
								</div>
							</li>
						</ul>
					</div>

					<div id="newLanguageForm" class="invisible" style="position: relative;">
						<div class="form-container">
							<form th:action="@{/consultant/profile/addLanguage}" th:object="${languageModel}"
										method="post" action="profileDataRegistration.html">
								<div id="languagesAdded"></div>
								<div class="form-row">
									<input type="submit" id="saveLanguages" th:value="#{global.save}" value="Save"/>
									<input type="button" id="cancelAddingLanguage" th:value="#{global.cancel}" value="Cancel"/>
									<script type="text/javascript">
										$("#cancelAddingLanguage").click(function() {
											$("#addNewLanguage").addClass("link-ico").addClass("add-ico").removeClass("invisible");
											$("#languages").removeClass("invisible");
											$("#languagesAdded").children().remove();
											$("#newLanguageForm").addClass("invisible");
										});
									</script>
								</div>
							</form>
						</div>
					</div>
				</div>

				<!-- Skills -->
				<div class="mini-skill-box">
					<div class="mini-box-with-see-all">
						<h2 th:text="#{skill.title}">Skills</h2>
						<a id="addNewSkill" class="link-ico add-ico cursor-pointer" th:title="#{global.add}" title="Add"></a>
					</div>
					<div id="skills" class="detail-list-view" style="padding-bottom: 15px;">
						<div th:if="${#lists.isEmpty(skillList)}" class="detail-list-view-item empty-details-view">
							<span th:text="#{global.emptylist}">No Results</span>
						</div>
						<div th:each="skill : ${skillList}" class="skill-added">
							<span th:text="${skill}">DB Administrator</span>
						</div>
					</div>
					<script type="text/javascript" th:inline="javascript">
						/*<![CDATA[*/
						$("#addNewSkill").click(function() {
							$("#skills").addClass("invisible");
							$(this).removeClass("link-ico").removeClass("add-ico").addClass("invisible");
							$("#newSkillForm").removeClass("invisible");
							/*[+ var skillList = [[${skillList}]] +]*/
							/*[- */ var skillList = ["Java", "Maven", ".NET"]; /* -]*/
							for (var i = 0; i < skillList.length; i++) {
								var skillValue = skillList[i];
								/*[+
								 var skill = '<div class="skill-added">' +
								 '<span>' + skillValue + '</span>' +
								 '<span class="x-remove" onclick="removeSkill(this);">&#735;</span>' +
								 '<input type="hidden" name="skill" value="' + skillValue + '"/>' +
								 '</div>';
								 +]*/
								/*[- */
								var skill = '<div class="skill-added">' +
										'<span>' + skillValue + '</span>' +
										'<span class="x-remove" onclick="removeSkill(this);">&#735;</span>' +
										'<input type="hidden" name="skill" value="' + skillValue + '"/>' +
										'</div>';
								/* -]*/
								$("#skillsAdded").append(skill);
							}
							$("#skills").addClass("invisible");
							$("#skillValue").focus();
						});
						/*]]>*/
					</script>
					<div id="newSkillForm" class="invisible" style="position: relative;">
						<div class="form-container">
							<form th:action="@{/consultant/profile/addSkills}" method="post"
										action="profileDataRegistration.html">
								<div class="form-row">
									<input type="text" id="skillValue" style="width: 70%;"/>
									<input type="button" id="addSkill" th:value="#{global.add}" value="Add"/>
									<div id="skillsAdded"></div>
									<script type="text/javascript" th:inline="javascript">
										/*<![CDATA[*/
										$("#addSkill").click(function() {
											var skillValue = $("#skillValue").val();
											/*[+
											 var skill = '<div class="skill-added">' +
											 '<span>' + skillValue + '</span>' +
											 '<span class="x-remove" onclick="removeSkill(this);">&#735;</span>' +
											 '<input type="hidden" name="skill" value="' + skillValue + '"/>' +
											 '</div>';
											 +]*/
											/*[- */
											var skill = '<div class="skill-added">' +
													'<span>' + skillValue + '</span>' +
													'<span class="x-remove" onclick="removeSkill(this);">&#735;</span>' +
													'<input type="hidden" name="skill" value="' + skillValue + '"/>' +
													'</div>';
											/* -]*/
											$("#skillValue").val("").focus();
											$("#skillsAdded").append(skill);
										});
										function removeSkill(removeSpan) {
											$(removeSpan).parent().remove();
										}
										/*]]>*/
									</script>
								</div>
								<div class="form-row">
									<input type="submit" id="saveSkills" th:value="#{global.save}" value="Save"/>
									<input type="button" id="cancelAddingSkill" th:value="#{global.cancel}" value="Cancel"/>
									<script type="text/javascript">
										$("#cancelAddingSkill").click(function() {
											$("#newSkillForm").addClass("invisible");
											$("#addNewSkill").addClass("link-ico").addClass("add-ico").removeClass("invisible");
											$("#skillsAdded").children().remove();
											$("#skills").removeClass("invisible");
										});
									</script>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>