.navbar-recruiting {
	padding-right: 0;
	border-radius: 0;
}

.f2informatica-area {
	height: 600px;
	background: url("../img/f2informatica.png") no-repeat fixed top;
}

.f2-alert {
	color: red;
	padding: 5px 0 0 5px;
}

.btn {
	min-width: 80px;
	height: 30px;
	vertical-align: middle;
	padding: 0;
}
