<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{login.login}">Login Page</title>
	<link th:href="@{/static/css/login.css}" href="../../../static/css/login.css" rel="stylesheet"/>
	<script th:src="@{/static/js/lib/jquery-1.10.2.min.js}" src="../../../static/js/lib/jquery-1.10.2.min.js"></script>
	<script th:src="@{/static/js/main.js}" src="../../../static/js/main.js"></script>
</head>
<body>
<div id="container">
	<div class="login-input-header">
		<div class="login-input-form-container">
			<form id="loginForm" method="post"
						action="../homePage.html" th:action="@{/processLogin}"
						enctype="application/x-www-form-urlencoded">
				<div id="login-error-msg" th:if="${hasErrors}">
					Bad Credentials
				</div>
				<input type="text" id="usernameId" name="username"
							 th:placeholder="#{login.username}" placeholder="Username" autofocus=""/>
				<input type="password" id="passwordId" name="password"
							 th:placeholder="#{login.password}" placeholder="Password"/>
				<input id="loginButton" type="submit" th:value="#{login.login}" value="Login"/>
			</form>
		</div>
	</div>
	<div class="f2informatica-area"></div>
</div>
<script type="text/javascript">
	var loginErrMsg = $("#login-error-msg");
	if (loginErrMsg.length) {
		var formPosition = loginErrMsg.parent().position();
		loginErrMsg.css({
			"top" : formPosition.top - 3,
			"left" : formPosition.left - loginErrMsg.width() - 40
		});
	}
</script>
</body>
</html>