<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{login.login}">Login Page</title>
	<link th:href="@{/static/css/login.css}" href="../../../static/css/login.css" rel="stylesheet"/>
	<script th:src="@{/static/js/lib/jquery-1.10.2.min.js}" src="../../../static/js/lib/jquery-1.10.2.min.js"></script>
	<script th:src="@{/static/js/main.js}" src="../../../static/js/main.js"></script>
</head>
<body>
<form id="loginForm" action="#" th:action="@{/processLogin}" method="post" enctype="application/x-www-form-urlencoded">
	<h1 id="loginHeader" th:text="#{login.login}">Login</h1>
	<div th:if="${hasErrors}" id="login-error-msg">
		Login Failure
	</div>
	<fieldset id="inputs">
		<input type="text" id="usernameId" name="username"
					 th:placeholder="#{login.username}" placeholder="Username"
					 autofocus=""/>
		<input type="password" id="passwordId" name="password"
					 th:placeholder="#{login.password}" placeholder="Password"/>
	</fieldset>
	<fieldset id="actions">
		<input id="submit" type="submit" th:value="#{login.login}" value="Login"/>
	</fieldset>
</form>
</body>
</html>