<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<link href="../../../static/css/main.css" th:href="@{/static/css/main.css}" rel="stylesheet"/>
	<script src="../../../static/js/lib/jquery-1.10.2.min.js" th:src="@{/static/js/lib/jquery-1.10.2.min.js}"></script>
	<script src="../../../static/js/main.js" th:src="@{/static/js/main.js}"></script>
</head>
<body>
<div th:fragment="navbar" class="navbar">
	<div>Voice 1</div>
	<div>Voice 2</div>
	<div>Voice 3</div>
	<div>Voice 4</div>
</div>
</body>
</html>