<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<link href="../../../static/css/main.css" th:href="@{/static/css/main.css}" rel="stylesheet"/>
	<script src="../../../static/js/lib/jquery-1.10.2.min.js" th:src="@{/static/js/lib/jquery-1.10.2.min.js}"></script>
	<script src="../../../static/js/main.js" th:src="@{/static/js/main.js}"></script>
</head>
<body>
<div th:fragment="navbar" class="navbar">
	<div id="nav-f2inf-box-space"></div>
	<ul id="nav">
		<li><a th:text="#{home.home}" th:href="@{/home}" href="../homePage.html">Home</a></li>
		<li><a th:text="#{user.usermanagement}" th:href="@{/user/loadUsers}" href="../user/users.html">User Management</a></li>
		<li><a th:text="#{consultant.consultants}" th:href="@{/consultant}" href="../consultant/consultants.html">Consultants</a></li>
	</ul>
</div>
</body>
</html>