@CHARSET "UTF-8";

html, body {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
}

#container {
	position: absolute;
	min-height: 95%;
	height: 99%;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	overflow: hidden;
}

.login-input-header {
	border-bottom: 1px solid #6f5387;
	display: block;
	height: 40px;
	min-width: 980px;
}

.login-input-header + .f2informatica-area {
	height: 94%;
	border: 0 solid;
	background: url("../images/f2informatica.png") no-repeat fixed top;
}

.login-input-header > .login-input-form-container {
	float: right;
	height: 100%;
	margin-right: 50px;
}

.login-input-form-container > form {
	display: inline-flex;
}

form > * {
	margin-top: 8px;
	margin-bottom: 8px;
}

input[type='text'], input[type='password'] {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	border: 1px solid #a9a9a9;
	background: white;
	font-size: 11px;
	margin-right: 4px;
	padding: 2px 6px 2px 6px;
	width: 150px;
	height: 18px;
	outline: none;
}

input[type='text']:focus, input[type='password']:focus {
	border-color: #2f5bb7;
}

input[type='button'], input[type='submit'], button {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	border: 1px solid #a9a9a9;;
	outline: none;
}

input[type='button']:hover, input[type='submit']:hover, button:hover {
	cursor: pointer;
}

#login-error-msg {
	border: 1px solid #dd3c10;
	padding: 7px 15px 7px 15px;
	background: #ffebe8;
	font-size: 11px;
	text-align: center;
	position: absolute;
}

#login-error-msg:before {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 5px solid #ffebe8;
	border-bottom: 5px solid transparent;
	border-left-color: rgba(221, 60, 16, 0.8);
	font-size: 0;
	line-height: 0;
	right: -6px;
	top: 9px;
	content: '';
	display: inline-block;
}

#login-error-msg:after {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-left: 4px solid #ffebe8;
	border-bottom: 4px solid transparent;
	font-size: 0;
	line-height: 0;
	right: -4px;
	top: 10px;
	content: '';
}
