@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: left;
}

body, button, input, label, select, td, textarea {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	color: #333;
}

.invisible {display: none;}
.float-right {float: right;}
.float-left {float: left;}
.header-underlined {border-bottom: 1px solid #aaa; margin-bottom: 20px;}
.description-text-box {text-align: justify; line-height: 17px; font-size: 12px;}

hr {
	border: 0;
	height: 1px;
	margin: 10px 0;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #666, #ccc);
	background-image:    -moz-linear-gradient(left, #ccc, #666, #ccc);
	background-image:     -ms-linear-gradient(left, #ccc, #666, #ccc);
	background-image:      -o-linear-gradient(left, #ccc, #666, #ccc);
}

#global-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
}

.header {
	position: relative;
	top: 0;
	left: 0;
	background-clip: padding-box;
	background-color: #eee;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.header-floating-content {
	position: relative;
	display: inline-block;
	float: right;
	top: 0;
	right: 0;
	padding: 8px;
	height: 100%;
	/*width: 280px;*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.header-floating-content div {float: left; padding-right: 10px;}
.header-floating-content select {width: 90px;}
#userInSession {padding-top: 4px;}
#userInSession img {height: 17px; width: 17px;}
#userInSession span {display: inline-block;}
#logoutLink img {height: 17px; width: 17px;}
#logoutLink {height: 17px; width: 17px; padding-top: 4px; cursor: pointer;}


#container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 40px;
	left: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.navbar {
	position: absolute;
	/*float: left;*/
	width: 15%;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#nav {
	margin: 0;
	padding: 0 0 0 10px;
	list-style-type: none;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#nav li {
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 25px;
	height: 25px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#nav a:link, #nav a:visited {
	display: block;
	color: #333;
	text-decoration: none;
	vertical-align: bottom;
	margin: 0;
	padding: 6px 0 0 10px;
	width: 100%;
	height: inherit;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#nav a:hover, #nav a:focus {
	background: #f2f2f2;
}
#nav a.nav-item-selected {
	font-weight: bold;
	background: #d8dfea;
}
#nav-f2inf-box-space {height: 60px;}

#content {
	border-left: 1px solid #ccc;
	position: absolute;
	padding: 20px;
	width: 85%;
	height: 100%;
	left: 15%;
	/*float: right;*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 20px;
	min-height: 20px;
	padding-bottom: 5px;
	vertical-align: bottom;
	display: block;
	font-weight: bold;
}
h1 {font-size: 20px;}
h2 {font-size: 16px;}

.hor-navmenu-block {width: 100%; height: 40px;}
.hor-navmenu {
	border: 1px solid #133783;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30px;
	list-style-type: none;
	background: #3b5998;
	float: left;
}
.hor-navmenu li {display: inline; padding: 0; margin: 0; float: left; height: 100%;}
.hor-navmenu a:link, .hor-navmenu a:visited {
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	color: #d8dfea;
	padding: 8px 10px 8px 10px;
	float: left;
	width: auto;
	height: inherit;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.hor-navmenu a:hover, .hor-navmenu a:focus {color: #fff; background: #526da4;}

/* ==================== FORM ELEMENTS ======================= */
form {
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: #333 2px 2px 5px;
	-moz-box-shadow: #333 2px 2px 5px;
	-webkit-box-shadow: #333 2px 2px 5px;
	padding: 20px 10px 10px 10px;
	min-width: 450px;
	width: 450px;
}
.form-container {width: 100%}
.form-row {padding: 0 0 7px 0; text-align: left;}

label {
	cursor: pointer;
	color: #666;
	font-weight: bold;
	vertical-align: middle;
}
.form-label {display: block; float: left; padding: 3px 0; width: 150px;}
.label-required {background: url("../images/red_asterisk.png") no-repeat right top; background-size: 11px;}

input[type='checkbox'] {border: 1px solid #a9a9a9; background: white; outline: none;}
input[type='text'], input[type='password'], input[type='email'] {
	border: 1px solid #a9a9a9;
	background: white;
	margin-right: 4px;
	padding: 2px 6px 2px 6px;
	width: 185px;
	height: 25px;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input[type='text']:focus, input[type='password']:focus,
input[type='email'], input[type='checkbox'] {border-color: #2f5bb7;}

select {
	border: 1px solid #a9a9a9;
	background: white;
	margin: 0 4px 0 0;
	padding: 2px 2px 3px 6px;
	height: 25px;
	width: 185px;
	outline: none;
}
select:focus {border-color: #2f5bb7;}

input[type='button'], input[type='submit'], input[type='reset'], button {
	padding: 1px 6px;
	min-width: 80px;
	min-height: 30px;
	font-weight: bolder;
	color: #444;
	cursor: pointer;
}
.form-buttons {
	display: block;
	padding-left: 150px;
}

.label-checkbox {display: inline-flex;}
.label-checkbox label {margin-top: 2px;}

/* ==================== TABLE ELEMENTS ====================== */
.data-table-container {width: 100%;}
.data-table {
	display: table;
	border-collapse: collapse;
	border-spacing: 5px;
	table-layout: fixed;
}
.data-table, .data-table th, .data-table td {border: 1px solid #ccc;}
.data-table th {background: #eee; min-width: 100px; padding: 10px;}
.data-table th.column-link {min-width: 30px !important; width: 40px;}
.data-table td {padding: 5px 8px 5px 8px;}

td.cell-link {text-align: center;}
.link-ico {display: inline-block; width: 20px; height: 20px;}
.details-ico {background: url("../images/details-icon.png") no-repeat; background-size: 20px;}
.chgpwd-ico {background: url("../images/password-icon.png") no-repeat; background-size: 20px;}
.edit-ico {background: url("../images/edit-icon.png") no-repeat; background-size: 20px;}
.trash-ico {background: url("../images/trash-icon.png") no-repeat; background-size: 20px;}
.add-ico {background: url("../images/add-icon.png") no-repeat; background-size: 20px;}

/* ==================== FIELD ERRORS ====================== */
.field-error {position: absolute; background: #ffebe8; border: 1px solid #cc0000; padding: 5px 15px 5px 10px; text-align: center; margin-left: 4px;}
.field-error:after, .field-error:before {right: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;}
.field-error:after {border-color: rgba(213, 154, 145, 0); border-right-color: #ffebe8; border-width: 5px; margin-top: -5px;}
.field-error:before {border-color: rgba(204, 0, 0, 0); border-right-color: #cc0000; border-width: 6px; margin-top: -6px;}


/* ==================== OTHER ====================== */
.data-list-container, .data-section {
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 10px;
	width: 60%;
}
.data-section {border: 0;}

#newExperienceForm, #newLanguageForm {margin-top: 10px; width: 500px; margin-left: auto; margin-right: auto;}
.data-list-container h3 {border: 0; padding: 0; margin-bottom: 5px;}
.data-list-container-mindetails {width: 100%; height: 15px; padding: 2px; color: #999;}
.data-list-container-mindetails-links a {padding: 0 10px;}

a.add-new-button:link, a.add-new-button:visited {
	background: #3B5998;
	border: 1px solid #133783;
	display: block;
	margin: 10px 50px;
	padding: 15px 0;
	color: #D8DFEA;
	font-size: 12px;
	font-weight: bold;
	line-height: 5px;
	text-decoration: none;
	text-align: center;
}
a.add-new-button:hover, a.add-new-button:focus {color: #fff; background: #526da4;}
a.add-new-button-disabled:link, a.add-new-button-disabled:visited {
	background: #eee;
	border: 1px dashed rgba(0, 0, 0, 0.3);
	display: block;
	margin: 10px 50px;
	padding: 15px 0;
	color: #666;
	cursor: default;
	font-size: 12px;
	font-weight: bold;
	line-height: 5px;
	text-decoration: none;
	text-align: center;
}

.edit-link:link, .edit-link:visited {
	color: #333333;
	float: right;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
}
.edit-link:hover, .edit-link:focus {
	color: #666;
}

.detail-list-view {
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-top: 10px;
}
.detail-list-view .detail-list-view-item {
	margin: 5px 5px 20px 5px;
}
.detail-list-view-item header h3 {
	display: inline-block;
	margin: 0;
	padding-bottom: 0;
	width: 100%;
}
.detail-list-view-item header span {
	display: block;
	font-size: 14px;
}
.detail-list-view-item-span {
	display: block;
	color: #999;
	margin-top: 3px;
}

.list-ul-details {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.list-ul-details li {
	display: inline-block;
	padding-bottom: 10px;
	width: 45%;
}
.list-ul-details h3 {
	margin: 0;
	padding: 0;
}

.skill-added {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 3px 0 3px 10px;
	margin-top: 8px;
	margin-right: 10px;
	border-radius: 4px;
	background-color: #eee;
	cursor: default;
}

.skill-added span {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 7px;
	vertical-align: top;
	height: 15px;
}

.x-remove {
	font-size: 19px !important;
	cursor: pointer;
}
.x-remove:hover {
	color: #0073b2;
}

/*------------------------------------------------*/
#profile-section {
	/*border: 1px solid;*/
	margin-top: 10px;
	height: 450px;
}

.mini-experience-box, .mini-language-box, .mini-skill-box {
	width: 300px;
	padding: 10px;
	float: left;
	margin-right: 10px;
	border-radius: 5px;
	border: 1px solid #D8DFEA;
}

.mini-box-with-see-all {height: 25px;}
.mini-box-with-see-all h2 {float: left;}
.mini-box-with-see-all a {float: right;}

.mini-skill-box #newSkillForm form {
	min-width: 100px !important;
	width: inherit !important;
}

#newLanguageForm form, #newSkillForm form {background-color: #f5f5f5;}
#newLanguageForm form input[type='text'], #newLanguageForm form select {width: 100px;}
#newLanguageForm form label {margin-right: 10px;}