@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
	text-align: left;
	display: block;
}

body, button, input, label, select, td, textarea {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	color: #333;
}

.invisible {display: none;}
.float-right {float: right;}
.float-left {float: left;}

hr {
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #666, #ccc);
	background-image:    -moz-linear-gradient(left, #ccc, #666, #ccc);
	background-image:     -ms-linear-gradient(left, #ccc, #666, #ccc);
	background-image:      -o-linear-gradient(left, #ccc, #666, #ccc);
}

#global-container {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	overflow-x: hidden;
}

.header {
	background-clip: padding-box;
	background-color: #eee;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	width: 100%;
	display: inline-flex;
	padding: 5px 0 5px 0;
}
.f2inf-header-box-space {width: 80%;}
.header-floating-content {position: relative; display: inline-flex;}
#userInSession {display: inline-flex; margin: 0 10px; padding-top: 3px;}
#userInSession img {height: 17px; width: 17px; position: relative;}
#userInSession #userLoggedIn {position: relative; padding: 2px 0 2px 2px;}
#logoutLink {height: 17px; width: 17px; position: relative; padding-top: 4px; cursor: pointer;}
#logoutLink img {height: 17px; width: 17px;}

#container {
	display: inline-flex;
	width: 100%;
	height: 100%;
	/*border-bottom: 1px solid rgba(0, 0, 0, .3);*/
}

.navbar {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	width: 15%;
	height: 100%;
	position: relative;
}
#nav {
	margin: 0;
	padding: 0 0 0 10px;
	list-style-type: none;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#nav li {
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 25px;
	height: 25px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#nav a:link, #nav a:visited {
	display: block;
	color: #333;
	text-decoration: none;
	vertical-align: bottom;
	margin: 0;
	padding: 6px 0 0 10px;
	width: 100%;
	height: inherit;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#nav a:hover, #nav a:focus {
	background: #f2f2f2;
}
#nav a.nav-item-selected {
	font-weight: bold;
	background: #d8dfea;
}
#nav-f2inf-box-space {height: 60px;}

#content {
	border-left: 1px solid #ccc;
	width: 85%;
	padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
	border-bottom: 1px solid #aaa;
	line-height: 20px;
	min-height: 20px;
	padding-bottom: 5px;
	vertical-align: bottom;
	display: block;
	font-weight: bold;
}
h1 {font-size: 20px;}
h2 {font-size: 16px;}

.hor-navmenu-block {width: 100%; height: 40px;}
.hor-navmenu {
	border: 1px solid #133783;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30px;
	list-style-type: none;
	background: #3b5998;
	float: left;
}
.hor-navmenu li {display: inline; padding: 0; margin: 0; float: left; height: 100%;}
.hor-navmenu a:link, .hor-navmenu a:visited {
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	color: #d8dfea;
	padding: 8px 10px 8px 10px;
	float: left;
	width: auto;
	height: inherit;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.hor-navmenu a:hover, .hor-navmenu a:focus {color: #fff; background: #526da4;}

/* ==================== FORM ELEMENTS ======================= */
form {
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: #333 2px 2px 5px;
	-moz-box-shadow: #333 2px 2px 5px;
	-webkit-box-shadow: #333 2px 2px 5px;
	padding: 20px 10px 10px 10px;
	min-width: 450px;
	width: 450px;
}
.form-container {width: 100%}
.form-row {padding: 0 0 7px 0; text-align: left;}

label {
	cursor: pointer;
	color: #666;
	font-weight: bold;
	vertical-align: middle;
}
.form-label {display: block; float: left; padding: 3px 0; width: 150px;}
.label-required {background: url("../images/red_asterisk.png") no-repeat right top; background-size: 11px;}

input[type='checkbox'] {border: 1px solid #a9a9a9; background: white; outline: none;}
input[type='text'], input[type='password'], input[type='email'] {
	border: 1px solid #a9a9a9;
	background: white;
	margin-right: 4px;
	padding: 2px 6px 2px 6px;
	width: 185px;
	height: 25px;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input[type='text']:focus, input[type='password']:focus,
input[type='email'], input[type='checkbox'] {border-color: #2f5bb7;}

select {
	border: 1px solid #a9a9a9;
	background: white;
	margin: 0 4px 0 0;
	padding: 2px 2px 3px 6px;
	height: 25px;
	width: 185px;
	outline: none;
}
select:focus {border-color: #2f5bb7;}

input[type='button'], input[type='submit'], input[type='reset'], button {
	margin: 0;
	min-width: 80px;
	min-height: 30px;
	font-weight: bolder;
	color: #444;
	cursor: pointer;
}
.form-buttons {
	display: block;
	padding-left: 150px;
}

.label-checkbox {display: inline-flex;}
.label-checkbox label {margin-top: 2px;}

/* ==================== TABLE ELEMENTS ====================== */
.data-table-container {width: 100%;}
.data-table {
	display: table;
	border-collapse: collapse;
	border-spacing: 5px;
	table-layout: fixed;
}
.data-table, .data-table th, .data-table td {border: 1px solid #ccc;}
.data-table th {background: #eee; min-width: 100px; padding: 10px;}
.data-table th.column-link {min-width: 30px !important; width: 40px;}
.data-table td {padding: 5px 8px 5px 8px;}

td.cell-link {text-align: center;}
.link-ico {display: inline-block; width: 20px; height: 20px;}
.details-ico {background: url("../images/details-icon.png") no-repeat; background-size: 20px;}
.chgpwd-ico {background: url("../images/password-icon.png") no-repeat; background-size: 20px;}
.edit-ico {background: url("../images/edit-icon.png") no-repeat; background-size: 20px;}
.trash-ico {background: url("../images/trash-icon.png") no-repeat; background-size: 20px;}

/* ==================== FIELD ERRORS ====================== */
.field-error {
	position: absolute;
	background: #ffebe8;
	border: 1px solid #cc0000;
	padding: 5px 15px 5px 10px;
	text-align: center;
	margin-left: 4px;
}
.field-error:after, .field-error:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.field-error:after {
	border-color: rgba(213, 154, 145, 0);
	border-right-color: #ffebe8;
	border-width: 5px;
	margin-top: -5px;
}
.field-error:before {
	border-color: rgba(204, 0, 0, 0);
	border-right-color: #cc0000;
	border-width: 6px;
	margin-top: -6px;
}


/* ==================== OTHER ====================== */
.data-list-container, #experienceSection {
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 10px;
	width: 60%;
}
#experienceSection {border: 0;}
.data-list-container h3 {border: 0; padding: 0; margin-bottom: 5px;}
.data-list-container-mindetails {width: 100%; height: 15px; padding: 2px; color: #999;}
.data-list-container-mindetails-links a {padding: 0 10px;}

a.add-new-button:link, a.add-new-button:visited {
	background: #3B5998;
	border: 1px solid #133783;
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #D8DFEA;
	font-size: 12px;
	font-weight: bold;
	line-height: 5px;
	text-decoration: none;
	text-align: center;
}
a.add-new-button:hover, a.add-new-button:focus {
	color: #fff; background: #526da4;
}
a.add-new-button-disabled:link, a.add-new-button-disabled:visited {
	background: #eee;
	border: 1px dashed rgba(0, 0, 0, 0.3);
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #666;
	cursor: default;
	font-size: 12px;
	font-weight: bold;
	line-height: 5px;
	text-decoration: none;
	text-align: center;
}


/* =================== CUSTOM STYLES BY ELEMENT ID ==================== */
#newExperienceSection {
	margin-top: 10px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}