<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="fragments/head::head (#{consultant.management})">
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Consultant Management</title>
  <link th:href="@{/static/css/bootstrap.css}" href="../../../static/css/bootstrap.min.css" rel="stylesheet"/>
  <link th:href="@{/static/css/sticky-footer-navbar.css}" href="../../../static/css/sticky-footer-navbar.css" rel="stylesheet"/>
  <link th:href="@{/static/css/dataTables.bootstrap.css}" href="../../../static/css/dataTables.bootstrap.css" rel="stylesheet"/>
  <link th:href="@{/static/css/main.css}" href="../../../static/css/main.css" rel="stylesheet"/>
  <script th:src="@{/static/js/jquery-1.10.2.min.js}" src="../../../static/js/jquery-1.10.2.min.js"></script>
  <script th:src="@{/static/js/bootstrap.min.js}" src="../../../static/js/bootstrap.min.js"></script>
  <script th:src="@{/static/js/jquery.dataTables.min.js}" src="../../../static/js/jquery.dataTables.min.js"></script>
  <script th:src="@{/static/js/dataTables.bootstrap.js}" src="../../../static/js/dataTables.bootstrap.js"></script>
  <script th:src="@{/static/js/dataTables.bootstrapPagination.js}" src="../../../static/js/dataTables.bootstrapPagination.js"></script>
  <script th:src="@{/static/js/main.js}" src="../../../static/js/main.js"></script>
</head>
<body role="document">
<div th:substituteby="fragments/navbar::navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://www.f2informatica.it" target="_blank" th:text="#{global.recruiting}">Recruiting</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li th:class="(${session.navbarItemActive} == 0) ? 'active' : ''" class="active">
          <a th:text="#{home.home}" th:href="@{/home}" href="#">Home</a>
        </li>
        <li th:class="(${session.navbarItemActive} == 1) ? 'active' : ''" class="active">
          <a th:text="#{user.usermanagement}" th:href="@{/user}" href="user/users.html">User Management</a>
        </li>
        <li class="dropdown" th:class="(${session.navbarItemActive} == 2) ? 'dropdown active' : 'dropdown'">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" th:inline="text">[[#{consultant.management}]] <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
<div class="container">
  <div class="page-header">
    <h2 th:text="#{consultant.management}">Consultant Management</h2>
  </div>
  <div class="row">
    <div class="col-md-10">
      <form action="#" method="POST" class="style-1" role="form">
        <fieldset>
          <legend>Search Consultant</legend>
          <div class="form-group col-md-4">
            <label for="name" class="control-label">Consultant name:</label>
            <input type="text" id="name" class="form-control input-sm"/>
          </div>
          <div class="form-group col-md-4">
            <label for="lastname" class="control-label">Consultant lastname:</label>
            <input type="text" id="lastname" class="form-control input-sm"/>
          </div>
          <div class="form-group col-md-4">
            <label for="skills" class="control-label">Skills (separated by commas):</label>
            <input type="text" id="skills" class="form-control input-sm"/>
          </div>
          <div class="control-group pull-right" style="margin-right: 15px;">
            <button type="button" value="search" class="btn btn-primary">Search</button>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="col-md-10">
      <div th:unless="${page.hasContent()}" class="alert alert-info">
        <p class="lead text-info text-center" th:text="#{consultant.norecord}">No consultant registered</p>
      </div>
      <h5 th:text="|Total number of consultants registered: ${page.totalElements}|" class="text-info"></h5>
      <div th:if="${page.hasContent()}" th:each="c : ${page}" th:id="${#ids.seq('consultant-')}" class="row">
        <div class="col-sm-11 col-lg-11 margin-bottom-10px border-bottom">
          <div class="pull-left">
            <h4 th:text="|${c.lastName}&nbsp;${c.firstName}&nbsp;(${c.age}&nbsp;#{global.yearsold})|">Rossi Mario (30 years old)</h4>
            <div>
              <span th:text="|#{consultant.registrationdate}: ${{c.registrationDate}}|" class="text-muted small">Registration date: 01-01-2013</span>
              <h6 th:text="|#{consultant.consultantno}: ${c.consultantNo}|">Consultant No. 201311529C5A707AD0713</h6>
              <h6 th:if="${#lists.isEmpty(c.skills)}" th:text="#{skill.noskills}" class="text-warning">No skill assigned</h6>
              <h6 th:unless="${#lists.isEmpty(c.skills)}" th:text="|#{skill.title}: ${#strings.listJoin(c.skills, ', ')}|" class="text-success">Skills</h6>
            </div>
          </div>
          <div class="pull-right">
            <button name="btnEdit" class="btn btn-default click-icon" th:value="${c.id}" th:inline="text">
              <div class="glyphicon glyphicon-edit" style="margin-right: 8px;"></div>
              [[#{global.edit}]]
            </button>
            <button name="btnProfile" class="btn btn-default click-icon" th:value="${c.id}" th:inline="text">
              <div class="glyphicon glyphicon-briefcase" style="margin-right: 8px;"></div>
              [[#{consultant.profile}]]
            </button>
          </div>
        </div>
      </div>
      <div th:substituteby="fragments/pagination::pagination (${page})"></div>
    </div>
  </div>
</div>
<script th:inline="javascript">
  /*<![CDATA[*/
  var contextRoot = /*[[${#httpServletRequest.getContextPath()}]]*/ 'http://localhost:8080/recruiting';

  $('button[name="btnProfile"]').click(function () {
    window.location = contextRoot + '/consultant/profile?consultantId=' + $(this).val();
  });

  $('button[name="btnEdit"]').click(function () {
    window.location = contextRoot + '/consultant/edit-personal-details?consultantId=' + $(this).val();
  });
  /*]]>*/
</script>
<div id="footer" th:substituteby="fragments/footer::footer">
  <div class="container">
    <p class="text-muted" th:text="#{footer.footer}">&copy; 2014 - F2 Informatica</p>
  </div>
</div>
</body>
</html>