<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-GB" xmlns="http://www.w3.org/1999/xhtml">
<head th:substituteby="fragments/head::head (#{consultant.management})">
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Profile Management</title>
	<link th:href="@{/static/css/bootstrap.css}" href="../../../static/css/bootstrap.min.css" rel="stylesheet"/>
	<link th:href="@{/static/css/sticky-footer-navbar.css}" href="../../../static/css/sticky-footer-navbar.css" rel="stylesheet"/>
	<link th:href="@{/static/css/dataTables.bootstrap.css}" href="../../../static/css/dataTables.bootstrap.css" rel="stylesheet"/>
	<link th:href="@{/static/css/main.css}" href="../../../static/css/main.css" rel="stylesheet"/>
	<script th:src="@{/static/js/lib/jquery-1.10.2.min.js}" src="../../../static/js/lib/jquery-1.10.2.min.js"></script>
	<script th:src="@{/static/js/lib/bootstrap.min.js}" src="../../../static/js/lib/bootstrap.min.js"></script>
	<script th:src="@{/static/js/lib/jquery.dataTables.min.js}" src="../../../static/js/lib/jquery.dataTables.min.js"></script>
	<script th:src="@{/static/js/lib/dataTables.bootstrap.js}" src="../../../static/js/lib/dataTables.bootstrap.js"></script>
	<script th:src="@{/static/js/lib/dataTables.bootstrapPagination.js}" src="../../../static/js/lib/dataTables.bootstrapPagination.js"></script>
	<script th:src="@{/static/js/main.js}" src="../../../static/js/main.js"></script>
</head>
<body role="document">
<div th:substituteby="fragments/navbar::navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation"></div>
<div class="container">
	<div class="page-header">
		<h2 th:inline="text">[[#{consultant.profile}]]
			<small>&emsp;&mdash;&nbsp;[[${consultantModel.firstName}]] [[${consultantModel.lastName}]]</small>
		</h2>
	</div>
	<div class="row">
		<div class="col-md-12">
			<!--Experience Section-->
			<div id="experienceSection" class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title panel-title-custom" th:text="#{experience.title}">Experience</h4>
					</div>
					<div class="panel-body panel-body-with-padding">
						<div class="well well-sm" style="max-width: 300px; margin: 0 auto 10px;">
							<button type="button" id="btnAddExperience" class="btn btn-primary btn-block" th:inline="text" data-toggle="modal" data-target="#experienceFormModal" data-backdrop="static">
								<div class="glyphicon glyphicon-plus"></div>
								[[#{experience.add}]]
							</button>
						</div>
						<div class="row" th:if="${#lists.isEmpty(consultantModel.experiences)}">
							<p th:text="#{experience.norecords}" class="text-info text-center" style="padding-top: 10px;">No experience registered at the moment</p>
						</div>
						<div class="row" th:unless="${#lists.isEmpty(consultantModel.experiences)}" th:each="experience : ${consultantModel.experiences}" th:id="${experience.id}">
							<div class="col-md-12 margin-bottom-10px border-bottom">
								<h4 th:inline="text">
									[[${experience.position}]]
									<div class="pull-right small" style="margin-right: 10px;">
										<div class="glyphicon glyphicon-edit click-icon edit-experience" th:title="#{global.edit}" th:alt="#{global.edit}" style="margin-right: 10px;"></div>
										<div class="glyphicon glyphicon-trash click-icon delete-experience" th:title="#{global.delete}" th:alt="#{global.edit}" style="margin-right: 10px;"></div>
									</div>
								</h4>
								<p th:text="${experience.companyName}" style="margin-bottom: 5px;">Accenture</p>
								<p th:if="${experience.current}" th:text="|${{experience.periodFrom}} - #{experience.present} ${experience.totalPeriodElapsed}| + '&emsp;|&emsp;' + |${experience.locality}|" class="text-muted small"></p>
								<p th:unless="${experience.current}" th:text="|${{experience.periodFrom}} - ${{experience.periodTo}} ${experience.totalPeriodElapsed}| + '&emsp;|&emsp;' + |${experience.locality}|" class="text-muted small"></p>
								<p th:text="${experience.description}" class="text-justify">Experience Description</p>
							</div>
						</div>
					</div>
				</div>
				<div th:substituteby="fragments/consultant/experienceForm::experienceForm('experienceFormModal', #{experience.new})"></div>
				<div th:substituteby="fragments/deleteMsgModal::deleteMsgModal('deleteExperienceMessageModal', #{experience.delete}, #{experience.delete.msg}, 'btnDeleteExperience')"></div>
			</div>

			<!--Language Section-->
			<div id="languageSection" class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title panel-title-custom" th:text="#{language.title}">Languages</h4>
					</div>
					<div class="panel-body panel-body-with-padding">
						<div class="well well-sm" style="max-width: 200px; margin: 0 auto 10px;">
							<button type="button" class="btn btn-primary btn-block" th:inline="text" data-toggle="modal" data-target="#languageFormModal" data-backdrop="static">
								<div class="glyphicon glyphicon-edit"></div>
								[[#{global.edit}]]
							</button>
						</div>
						<div class="clearfix"></div>
						<div class="row" th:if="${#lists.isEmpty(consultantModel.languages)}">
							<p th:text="#{language.norecords}" class="text-info text-center" style="padding-top: 10px;">No language registered at the moment</p>
						</div>
						<div class="row" th:unless="${#lists.isEmpty(consultantModel.languages)}">
							<div th:each="lang : ${consultantModel.languages}" th:id="${#ids.seq('language-')}" class="col-md-4 margin-bottom-10px">
								<h4 th:text="#{__${lang.language}__}">Spanish</h4>
								<p th:text="#{__${lang.proficiency}__}" class="text-muted small" style="margin-bottom: 5px;">Native</p>
							</div>
						</div>
					</div>
				</div>
				<div th:substituteby="fragments/consultant/languageForm::languageForm('languageFormModal', #{language.new})"></div>
			</div>

			<!--Skill Section-->
			<div id="skillSection" class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title panel-title-custom" th:text="#{skill.title}">Skills</h4>
					</div>
					<div class="panel-body panel-body-with-padding">
						<div class="well well-sm" style="max-width: 200px; margin: 0 auto 10px;">
							<button type="button" class="btn btn-primary btn-block" th:inline="text" data-toggle="modal" data-target="#skillFormModal" data-backdrop="static">
								<div class="glyphicon glyphicon-edit"></div>
								[[#{global.edit}]]
							</button>
						</div>
						<div class="clearfix"></div>
						<div class="row" th:if="${#lists.isEmpty(consultantModel.skills)}">
							<p th:text="#{skill.norecords}" class="text-info text-center" style="padding-top: 10px;">No skill registered at the moment</p>
						</div>
						<div th:unless="${#lists.isEmpty(consultantModel.skills)}" style="margin: 10px 0;">
							<p th:text="${#strings.listJoin(consultantModel.skills, ', ')}"></p>
						</div>
					</div>
				</div>
				<div th:substituteby="fragments/consultant/skillForm::skillForm('skillFormModal', #{skill.skill})"></div>
			</div>

			<!--Education Section-->
			<div id="educationSection" class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title panel-title-custom" th:text="#{education.title}">Education</h4>
					</div>
					<div class="panel-body panel-body-with-padding">
						<div class="well well-sm" style="max-width: 300px; margin: 0 auto 10px;">
							<button type="button" id="btnAddEducation" class="btn btn-primary btn-block" th:inline="text" data-toggle="modal" data-target="#educationFormModal" data-backdrop="static">
								<div class="glyphicon glyphicon-plus"></div>
								[[#{education.add}]]
							</button>
						</div>
						<div class="row" th:if="${#lists.isEmpty(consultantModel.educationList)}">
							<p th:text="#{skill.norecords}" class="text-info text-center" style="padding-top: 10px;">No education registered at the moment</p>
						</div>
						<div class="row" th:unless="${#lists.isEmpty(consultantModel.educationList)}" th:each="education : ${consultantModel.educationList}" th:id="${education.id}">
							<div class="col-md-12 margin-bottom-10px border-bottom">
								<input type="hidden" th:value="${education.id}"/>
								<h4 th:inline="text">
									[[${education.school}]]
									<div class="pull-right small">
										<div class="glyphicon glyphicon-edit click-icon edit-education" th:title="#{global.edit}" th:alt="#{global.edit}" style="margin-right: 10px;"></div>
										<div class="glyphicon glyphicon-trash click-icon delete-education" th:title="#{global.delete}" th:alt="#{global.edit}" style="margin-right: 10px;"></div>
									</div>
								</h4>
								<p th:text="|${education.schoolFieldOfStudy}, ${education.schoolGrade}|" style="margin-bottom: 5px;">School degree</p>
								<p th:if="${education.current}" th:text="|${education.startYear} - #{experience.present}|" class="text-muted small"></p>
								<p th:unless="${education.current}" th:text="|${education.startYear} - ${education.endYear}|" class="text-muted small"></p>
								<p th:text="${education.description}" class="text-justify">Education Description</p>
								<p th:text="${education.schoolActivities}" class="text-justify">Education Description</p>
							</div>
						</div>
					</div>
				</div>
				<div th:substituteby="fragments/consultant/educationForm::educationForm('educationFormModal', #{education.title})"></div>
				<div th:substituteby="fragments/deleteMsgModal::deleteMsgModal('deleteEducationMessageModal', #{education.delete}, #{education.delete.msg}, 'btnDeleteEducation')"></div>
			</div>

		</div>
		<a class="btn btn-warning btn-lg" th:href="@{'/consultants'}" th:text="#{global.back}" style="width: 100%;">Back</a>
	</div>
</div>
<div id="footer" th:substituteby="fragments/footer::footer">
	<div class="container">
		<p class="text-muted" th:text="#{footer.footer}">&copy; 2014 - F2 Informatica</p>
	</div>
</div>
<script th:src="@{/static/js/postFunction.js}" src="../../../static/js/postFunction.js"></script>
<script th:src="@{/static/js/profileForm.js}" src="../../../static/js/profileForm.js"></script>
<script th:inline="javascript">
	var params = {
		saveLabel : /*[[#{global.save}]]*/ 'Save',
		updateLabel : /*[[#{global.update}]]*/ 'Update'
	};
	$profileForm.config(params).processProfileForm();
</script>
</body>
</html>