<?xml version="1.0" encoding="UTF-8"?>
<menu xmlns="http://www.f2informatica.it/schema/menu">

  <menuComposite label="User Management" url="#">
    <menuItem label="Show Users" url="/user/loadUsers">
      <authorities>
        <authority name="ROLE_ADMIN"/>
      </authorities>
    </menuItem>
  </menuComposite>

  <menuItem label="logout" url="/logout">
    <authorities>
      <authority name="ROLE_ADMIN"/>
      <authority name="ROLE_USER"/>
    </authorities>
  </menuItem>

</menu>