<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{home.homePage}">Test Welcome page</title>
	<link href="../../static/css/main.css" th:href="@{/static/css/main.css}" rel="stylesheet"/>
	<script src="../../static/js/lib/jquery-1.10.2.min.js" th:src="@{/static/js/lib/jquery-1.10.2.min.js}"></script>
	<script src="../../static/js/main.js" th:src="@{/static/js/main.js}"></script>
</head>
<body>
<header th:substituteby="templates/header::header"></header>
<div id="container">
	<div th:substituteby="templates/navbar::navbar"></div>
	<div id="content">
		<h1>F2 Informatica</h1>
	</div>
</div>
<footer th:substituteby="templates/footer::footer"></footer>
</body>
</html>